<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1> Trabajo 1 </h1> - <h3>(years)</h3></li>
            <p> Lorem  elit. Iusto quaerat eaque magni! Deleniti nisi assumenda soluta maxime veritatis, quaerat totam fugit pariatur iure illo nulla debitis, ullam perspiciatis, quae aspernatur.</p>
        </ul>
        <ul>
            <li><h1> Trabajo 2 </h1> - <h3>(years)</h3></li>
            <p> Lorem  elit. Iusto quaerat eaque magni! Deleniti nisi assumenda soluta maxime veritatis, quaerat totam fugit pariatur iure illo nulla debitis, ullam perspiciatis, quae aspernatur.</p>
        </ul>
        <ul>
            <li><h1> Trabajo 3 </h1> - <h3>(years)</h3></li>
            <p> Lorem  elit. Iusto quaerat eaque magni! Deleniti nisi assumenda soluta maxime veritatis, quaerat totam fugit pariatur iure illo nulla debitis, ullam perspiciatis, quae aspernatur.</p>
        </ul>
    </div>
</div>
