<section class="vh-100" style="background-color: rgb(215, 182, 241)">
<div class="container" *ngIf="proy">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proy.nombreP" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proy.descripcionP" required>
                </div>
                <div class="form-group">
                    <label for="fechaP">Fecha inicio de proyecto:   </label>
                    
                    <input type="datetime" a input type="datetime" class="form-control" id="fechaP" name="fechaP" [(ngModel)]="proy.fechaP" required>
                
                </div>
                <div class="form-group">
                    <label for="fechaPF">Fecha fin de proyecto:   </label>
                    
                    <input type="datetime" a input type="datetime" class="form-control" id="fechaPF" name="fechaPF" [(ngModel)]="proy.fechaPF" required>
                
                </div>
                <button class="btn btn-secondary">
                    Actualizar
                </button>

            </form>
        </div>
    </div>
</div>
</section>
