<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-secondary" routerLink="/nuevaskill" *ngIf="isLogged">
      Agregar hard & soft skills
    </button>
  </div>
<h1></h1>
  <div *ngFor= "let skill of skill" class="text-center col-sm-2 col-md-2 col-lg-2">
  
    <circle-progress
    [percent]="skill.descripcionS"
    
    [radius]="85"
    [showUnits]="false"
    [title]="skill.nombreS"
    titleFontSize=13
    [showSubtitle]="false"
    [subtitle]="skill.nombreS" 
    [outerStrokeWidth]="13"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#CE7FBC '"
    [innerStrokeColor]="'pink'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>

  <div *ngIf="isLogged">
    <button class="btn btn-secondary" routerLink="/editskill/{{skill.id}}">
    <i class="bi bi-pencil-fill"></i></button>
    </div>
  
  <div *ngIf="isLogged">
    <button class="btn btn-danger" (click)="delete(skill.id)">
    <i class="bi bi-trash-fill"></i></button>
    </div>

</div>