<div class="row">
    <div class="container">
    <div class="logo">
        <img src="../../../assets/aaAPLogo.png" id="logoAP">
    </div>>
         <div class="redes">
            <a href="https://www.facebook.com/julia.pensotti/"><img src="../../../assets/aafacebook.png" id="facebook"></a>
            <a href="https://github.com/Juli6620"><img src="../../../assets/aagithub.png"id="github"></a>
            <a href="https://www.instagram.com/julit.p"><img src="../../../assets/aainstagram.png" id="instagram"></a>
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged" >INICIAR SESIÓN </button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        </div>
    </div>
</div>

