<div class="row">
    <div class="container">
    <div class="logo">
        <img src="../../../assets/aaAPLogo.png" id="logoAP">
    </div>>
         <div class="redes">
            <a href=""><img src="../../../assets/aafacebook.png" id="facebook"></a>
            <a href=""><img src="../../../assets/aagithub.png"id="github"></a>
            <a href=""><img src="../../../assets/aainstagram.png" id="instagram"></a>
        <button type="button" class="btn btn-outline-light">INGRESO </button>
        </div>
    </div>
</div>

